@import '../../../../shared/styles/mixins';

.listen {
  &_title {
    margin-bottom: 24px;
    padding: 16px 0;
    text-align: center;
    @include font(family-adobe, 24px);
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}
.italic {
  font-style: italic;
}
.mob-app-promo {
  text-align: center;
  margin-bottom: 24px;
  line-height: 24px;
  @include font(family-adobe, 18px, 400, italic);

  &_link {
    text-decoration: underline;
    color: $color-black;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}
.item {
  grid-column: span 3 / auto;
  margin-bottom: 32px;
}
.img-link {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  width: 100%;

  &_icon {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $color-dark-2;
  }

  .icon-audio {
    width: 16px;
    height: 16px;
  }
}
.rubric-link {
  display: inline-block;
  margin-bottom: 8px;
  color: $color-red;

  &:hover {
    text-decoration: underline;
  }
}
.rubric {
  text-transform: uppercase;
  line-height: 1.33333em;
  @include font(family-irvin-text, 12px);
}
.title-link {
  display: block;
  margin-bottom: 16px;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}
.title {
  line-height: 1.25em;
  @include font(family-irvin-heading-web, 20px);
}
.summary {
  margin-bottom: 8px;
  line-height: 1.4em;
  @include font(family-adobe, 18px);
  color: $color-black;
}
.byline {
  display: inline-flex;
  gap: 3px;
  padding-bottom: 4px;
  line-height: 1.33333em;
  @include font(family-neutraface, 15px, semi-bold);
  color: $color-dark-2;

  &_name {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
