<div class="post">
  <div class="post-content">
    <a class="rubric-link">
      <span class="rubric">{{underPost.rubric}}</span>
    </a>
    <a class="title-link" routerLink="/">
      <h3 class="title">{{underPost.title}}</h3>
    </a>
    <p class="summary">{{underPost.summary}}</p>
    <span class="byline">
      <span class="byline_preamble">By</span>
      <a class="byline_name" routerLink="/">{{underPost.author}}</a>
    </span>
  </div>
  <a class="img-link" routerLink="/">
    <img class="img" src="{{underPost.img}}" alt="{{underPost.title}}">
  </a>
</div>
