<div class="post">
  <a class="img-link" routerLink="/">
    <img src="{{centerPost.img}}" alt="{{centerPost.title}}">
  </a>
  <a class="rubric-link" routerLink="/">
    <span class="rubric">{{centerPost.rubric}}</span>
  </a>
  <a class="title-link" routerLink="/">
    <h3 class="title">{{centerPost.title}}</h3>
  </a>
  <p class="summary">{{centerPost.summary}}</p>
  <span class="byline">
    <span class="byline_preamble">By</span>
    <a class="byline_name" routerLink="/">{{centerPost.author}}</a>
  </span>
</div>
