<div class="page-home">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="container">
    <main class="content">
      <app-promo-section>
        <img class="logo-standard" src="./assets/img/icons/logo-standard.png" alt="Man standing with monocle">
        <h3 class="subscribe_text">Support <i class="text-company">The New Yorker’s</i> award-winning journalism.</h3>
        <a class="subscribe_button" routerLink="/signup">Subscribe today »</a>
      </app-promo-section>
      <app-hero></app-hero>
      <app-puzzles-and-games></app-puzzles-and-games>
      <app-spotlight></app-spotlight>
      <app-promo-section>
        <img class="logo-standard" src="./assets/img/promo/promo-newsletter.png" alt="Hand holding paper airplane">
        <h3 class="subscribe_text">Read the best of <i class="text-company">The New Yorker</i> in our Daily newsletter.</h3>
        <a class="subscribe_button" routerLink="/signup">Sign up now</a>
      </app-promo-section>
      <app-listen></app-listen>
    </main>
  </div>
</div>
