@import '../../../../shared/styles/vars';

.page-home {
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: $container-xxl;
  width: 100%;
}
.half-module {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
