<header class="header">
  <div class="header-main">
    <div class="advert"></div>
    <a routerLink="/" class="logo">
      <span class="logo_text text-first">The</span>
      <span class="logo_text">New yorker</span>
    </a>
    <div class="header-right">
      <div class="newsletter">Newsletter</div>
      <div class="sign-in">Sign in</div>
      <a class="btn" routerLink="/subscribe" target="_blank">Subscribe</a>
      <input type="text" value="search">
    </div>
  </div>
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a routerLink="/news" class="nav-link">News</a>
      </li>
      <li class="nav_item">
        <a routerLink="/books" class="nav-link">Books & culture</a>
      </li>
    </ul>
  </nav>
</header>
