<header class="header">
  <div class="header-main">
    <!-- TODO: refactor to component. This block could be different (content, meta) -->
    <a routerLink="/" class="promo">
      <img class="flash-sale__link" src="./assets/img/home/header/subscribe-sale.png" alt="Flash sale. 12 weeks for 6$. Cancel anytime." />
    </a>
    <a routerLink="/">
      <img class="logo" src="./assets/svg/logo.svg" alt="The New Yorker logotype">
    </a>
    <div class="header-right">
      <div class="newsletter">Newsletter</div>
      <div class="sign-in">Sign in</div>
      <a class="btn btn-primary" routerLink="/subscribe" target="_blank">Subscribe</a>
      <a class="search" routerLink="/" target="_blank">
        <img src="./assets/svg/search.svg" alt="Search">
      </a>
    </div>
  </div>
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a routerLink="/news" class="nav-link">News</a>
      </li>
      <li class="nav_item">
        <a routerLink="/books" class="nav-link">Books & culture</a>
      </li>
    </ul>
  </nav>
</header>
