@import '../../../../../../shared/styles/vars';

.layout {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  &_left {
    flex: 0 1 360px;
    border-right: 1px solid $color-border;
  }

  &_center {
    flex: 0 1 720px;
    padding: 0 15px;
  }

  &_right {
    flex: 0 1 360px;
    border-left: 1px solid $color-border;
  }
}
.divider {
  display: block;
  margin: 15px 0;
  width: 100%;
  height: 1px;
  background-color: $color-border;
}
