// GRID
$container-xxl: 1600px;
$container-xl: 1300px;

// COLORS
$color-primary: #0787ca;

// font
$color-red: #db3334;
$color-black: #000000;
$color-dark: #333333;
$color-dark-2: #121212;
$color-white: #ffffff;

// borders
$color-border: #e5e5e5;

// SHADOWS
$box-shadow-header: rgb(0 0 0 / 10%) 0px 2px 4px;

// TRANSITIONS
$transition-default: all .2s ease-in-out;

// WEIGHTS
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// FONT FAMILIES
// *** 1-st layer ***
$font-family-adobe: "Adobe Caslon Pro", "Times New Roman", Times, serif;
$font-family-adobe-italic: "Adobe Caslon Pro", "Times New Roman", Times, serif;
$font-family-graphik: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-graphik-web: GraphikWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-irvin-text: IrvinText, Georgia, "Times New Roman", Times, serif;
$font-family-irvin-heading-web: IrvinHeadingWeb, Georgia, "Times New Roman", Times, serif;

// *** 2-nd layer ***
$font-family-neutraface: "Neutraface New Yorker", "Helvetica Neue", Helvetica, Arial, sans-serif;

// BASE
$base-font-family: $font-family-adobe;
$base-font-size: 16px;
