@import '../../../../shared/styles/mixins';

:host ::ng-deep section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  h3 {
    color: $color-black;
    @include font(family-adobe, 20px);
  }

  a {
    margin-left: 8px;
    text-decoration: underline;
    color: $color-primary;
    @include font(family-adobe, 20px);
    transition: $transition-default;

    &:hover {
      color: $color-grey;
    }
  }
}
:host ::ng-deep .text-company {
  font-style: italic;
}
:host ::ng-deep .logo-standard {
  margin-right: 16px;
  max-width: 75px;
  max-height: 75px;
}
