<div class="spotlight">
  <h2 class="spotlight_title">Spotlight</h2>
  <ng-container *ngIf="spotlightList; else emptyList">
    <div class="list">
      <div class="item" *ngFor="let item of spotlightList">
        <a class="img-link" routerLink="/">
          <img src="{{item.img}}" alt="{{item.title}}">
        </a>
        <a class="rubric-link" routerLink="/">
          <span class="rubric">{{item.rubric}}</span>
        </a>
        <a class="title-link" routerLink="/">
          <h3 class="title">{{item.title}}</h3>
        </a>
        <p class="summary">{{item.summary}}</p>
        <span class="byline">
          <span class="byline_preamble">By</span>
          <a class="byline_name" routerLink="/">{{item.author}}</a>
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <div>Empty list</div>
  </ng-template>
</div>
