<div class="posts">
  <ng-container *ngIf="leftPosts; else emptyPosts">
    <div class="post" *ngFor="let post of leftPosts">
      <a class="img-link" routerLink="/">
        <img src="{{post.img}}" alt="{{post.title}}">
      </a>
      <a class="rubric-link" routerLink="/">
        <span class="rubric">{{post.rubric}}</span>
      </a>
      <a class="title-link" routerLink="/">
        <h3 class="title">{{post.title}}</h3>
      </a>
      <p class="summary">{{post.summary}}</p>
      <span class="byline">
    <span class="byline_preamble">By</span>
    <a class="byline_name" routerLink="/">{{post.author}}</a>
  </span>
    </div>
  </ng-container>

  <ng-template #emptyPosts>
    <div>Empty posts</div>
  </ng-template>
</div>
