@import '../../../../shared/styles/mixins';

.puzzles-and-games {
  margin-bottom: 16px;

  &_title {
    margin-bottom: 32px;
    padding: 16px 0;
    text-align: center;
    @include font(family-adobe, 24px);
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}
.item {
  grid-column: span 3 / auto;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.img-link {
  display: flex;
  margin-bottom: 16px;
  width: 100%;
}
.name-link {
  display: block;
  margin-bottom: 16px;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}
.name {
  line-height: 1.25em;
  @include font(family-irvin-heading-web, 20px);
}
.summary {
  margin-bottom: 8px;
  line-height: 1.4em;
  @include font(family-adobe, 18px);
  color: $color-black;
}
