<div class="puzzles-and-games">
  <h2 class="puzzles-and-games_title">Puzzles & Games</h2>
  <ng-container *ngIf="puzzlesAndGamesList; else emptyList">
    <div class="list">
      <div class="item" *ngFor="let item of puzzlesAndGamesList">
        <a class="img-link" routerLink="/">
          <img src="{{item.img}}" alt="{{item.name}}">
        </a>
        <a class="name-link" routerLink="/">
          <h3 class="name">{{item.name}}</h3>
        </a>
        <p class="summary">{{item.summary}}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <div>Empty list</div>
  </ng-template>
</div>
